<div class="message-header">
  <div class="message-flag">
    <img ng-if="message.sender === myCountry" ng-src="assets/flags/{{myCountry}}.png" class="flag" />
    <img ng-if="message.sender !== myCountry" ng-src="assets/flags/{{selectedMessage.conversation_partner}}.png" class="flag" />
  </div>

  <div class="message-info">
    <div class="from"><b>From:</b> {{message.sender}}</div>
    <div class="to"><b>To:</b> {{message.recipient}}</div>
  </div>
  <div class="time">{{message.created_at | date:'HH:mm a'}}</div>
</div>
<div class="message-body">{{message.content}}</div>
