<ul class="messages-sidebar" ng-class="{'focused': selectedMessage !== null}">
  <% unless espionage === 'true' %>
    <li class="borderless">
      <select name="messageFilter"
              id="messageFilter"
              ng-model="messageFilter"
              ng-change="resetMessages()"
              ng-options="filter as filter.title for filter in filterOptions">
      </select>
    </li>

    <li ng-class="{'active': selectedMessage === 'new'}"
        ng-click="createNewMessage()"
        id="message_new"
        class="new-message">
        <div>Send New Message</div>
    </li>
  <% end %>

  <li ng-repeat="conversation in messages | filter:filterFn | orderBy: '-updated_at'"
      ng-class="{'active': messageIsActive === conversation}"
      ng-click="selectConversation(conversation)">
    <img ng-src="assets/flags/{{conversation.conversation_partner.team_name}}.png" class="flag" />
    <div class="message-info">
      <div class="message-sender">{{conversation.conversation_partner.team_name}}</div>
      <div class="time">{{conversation.latest_message.updated_at | date:'HH:mm a'}}</div>

      <div class="message-preview-body">
        <span ng-if="conversation.latest_message.sender_id === myCountryId" class="preview-sender">You: </span>
        <span class="preview-snippet">{{conversation.latest_message.content | characters: 20}}</span>
        <span class="preview-full">{{conversation.latest_message.content}}</span>
      </div>
    </div>
  </li>
</ul>
