<% content_for :title, "Messages" %>

<div ng-app='messagesApp' ng-controller="messagesCtrl" class="messages {{orientation}}">

  <%= render(:partial => "messages_sidebar", :controller => "messages") %>

  <div class="messages-focused" ng-class="{'focused': selectedMessage !== null}">
    <div ng-if="selectedMessage === null" class="message-content">No conversation selected</div>
    <div ng-if="selectedMessage !== null">
      <div class="button back-button" ng-click="resetMessages()">Back to Messages</div>
      <div ng-if="selectedMessage !== 'new'">
        <div ng-repeat="message in selectedMessage.messages | orderBy: '+created_at'" class="message-content">
          <%= render(:partial => "message_content", :controller => "messages") %>
        </div>
        <div class="message-content">
          <%= render(:partial => "new_message", :controller => "messages", :locals => { :reciever => 'set' }) %>
        </div>
      </div>
      <div ng-if="selectedMessage === 'new'" class="message-content">
        <%= render(:partial => "new_message", :controller => "messages", :locals => { :reciever => 'null' }) %>
      </div>
    </div>
  </div>
</div>
