<div class="admin">
  <h1>Editing Public Relations</h1>
  <section>
    <%= render 'form' %>

    <%= link_to 'Show', @public_relation, :class => 'button-input' %>
    <%= link_to 'Back', public_relations_path, :class => 'button-input' %>
  </section>
</div>
