<%= form_for(@terror_tracker) do |f| %>
  <% if @terror_tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terror_tracker.errors.count, "error") %> prohibited this terror_tracker from being saved:</h2>

      <ul>
      <% @terror_tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
