<div id="admin">
  <h1>Editing Tweet</h1>
  <section>
    <%= render 'form' %>

    <%= link_to 'Show', @tweet, :class => 'button-input' %>
    <%= link_to 'Back', tweets_path, :class => 'button-input' %>
  </section>
</div>
