<div id="admin">
  <p id="notice"><%= notice %></p>
  <section>
    <%= link_to 'Edit', edit_tweet_path(@tweet), :class => 'button-input' %>
    <%= link_to 'Back', tweets_path, :class => 'button-input' %>
  </section>
</div>
