<% content_for :title, "Public Relations" %>


<div ng-app='prApp' ng-controller="prCtrl" class="public_relations">
  <div class="turns">Turn {{round}} (<timer countdown="roundDuration" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer> Remaining)</div>

  <div class="control-message">
    {{controlMessage}}
  </div>

  <div class="tabs">
    <div class="tab-selection">
      <div class="tab-choice" ng-click="setTab('income')" ng-class="{'focused': focusedTab === 'income'}">Income</div>
      <div class="tab-choice" ng-click="setTab('news')" ng-class="{'focused': focusedTab === 'news'}">News</div>
    </div>

    <!-- Income Tab -->
    <div class="tab income" ng-show="focusedTab === 'income'">
      <h4>Income</h4>
      <label for="incomeTurn">
        <span class="meta">Income for Turn</span>
        <select>
          <!-- Populate with Turns. Default to Current Turn -->
        </select>
      </label>

      <div class="income-info">
        <div class="half">Credits: #<br>Income Level: #</div>
        <div class="half">Reserves: #<br>Total PR: #</div>
      </div>

      <div class="pr-modifiers">
        <h4>PR Modifiers</h4>

        <div class="income-info">
          <div class="half header">Amount</div>
          <div class="half header">Reason</div>
          <div class="half">+2</div>
          <div class="half">Positive News</div>
          <div class="half">-2</div>
          <div class="half">UN Crisis Not Handled</div>
        </div>
      </div>

    </div>

    <!-- News Tab -->
    <div class="tab news" ng-show="focusedTab === 'news'">
      <div class="" ng-if="news.length==0">
        <h4>Reports are coming in. Stay tuned for more details.</h4>
      </div>
      <div ng-repeat="news_item in news">
        <h4>{{news_item.title}}</h4>
        <p>{{news_item.content}}</p>
        <p class="news-time">Reported at {{news_item.created_at| date:'h:mma'}}</p>
      </div>
    </div>


  </div>
  <div class="footer">Global Terror: {{terror}} / 250</div>


</div>
