<% content_for :title, "Public Relations" %>


<div ng-app='prApp' ng-controller="prCtrl" class="public_relations">


  <div class="country-header">
    <div class="my-country">
      <div class="flag"><img ng-src="assets/flags/{{myCountry}}.png" /></div>
      <div class="govt">Government of {{myCountry}}
        <h4>{{myRole}}</h4>
      </div>
    </div>

    <div class="messages-container">
        <div class="turns">Turn {{round}} (<timer countdown="roundDuration" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer> Remaining)</div>


      <div class="messages-header">Important Messages</div>
      <div class="control-message">{{controlMessage}}</div>
    </div>
  </div>

  <div class="tabs">
    <div class="tab-selection">
      <div class="tab-choice" ng-click="setTab('income')" ng-class="{'focused': focusedTab === 'income'}">Income</div>
      <div class="tab-choice" ng-click="setTab('news')" ng-class="{'focused': focusedTab === 'news'}">News</div>
    </div>

    <!-- Income Tab -->
    <div class="tab income" ng-show="focusedTab === 'income'">
      <div class="income-info">
        <div class="half">
          <h4><span>Country</span> Income</h4>
          Credits: #<br>Income Level: #</div>
        <div class="half">
          <label for="incomeTurn">
            <span class="meta">Income for Turn</span>
            <select id="incomeTurn">
              <!-- Populate with Turns. Default to Current Turn -->
            </select>
          </label>
          Reserves: #<br>Total PR: #</div>
      </div>

      <div class="pr-modifiers">
        <h4><span>PR</span> Modifiers</h4>

        <div class="income-info">
          <div class="amount header">Amount</div>
          <div class="reason header">Reason</div>
          <div class="amount">+2</div>
          <div class="reason">Positive News</div>
          <div class="amount">-2</div>
          <div class="reason">UN Crisis Not Handled</div>
        </div>
      </div>

    </div>

    <!-- News Tab -->
    <div class="tab news" ng-show="focusedTab === 'news'">
      <div class="" ng-if="news.length==0">
        <h4>Reports are coming in. Stay tuned for more details.</h4>
      </div>
      <div ng-repeat="news_item in news">
        <h4>{{news_item.title}}</h4>
        <p class="news-time">Reported at {{news_item.created_at| date:'h:mma'}}</p>
        <p>{{news_item.content}}</p>
      </div>
    </div>


  </div>
  <h4 class="footer"><span>Global</span> Terror: {{terror}} / 250</h4>


</div>
