<div ng-app='dashboardApp' ng-controller="dashboardCtrl" id="dashboard">
  <div id="control-messages">
    <p>{{controlMessage}}</p>
  </div>

  <div class="columns">
    <div class="left-column">
      <!-- Rounds -->
      <div id="round-container">
        <h2 ng-if="!paused">
          <timer countdown="roundDuration" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer>
        </h2>
        <h3>Turn {{round}}</h3>
        <h3 class="paused" ng-if="paused">(Paused)</h3>

  <!-- News -->
  <div id="news-block">
    <h3 class="news">Breaking News</h3>

    <div id="news-image">
      <div class="placeholder" style="background-image: url('/assets/empire.png')"></div>
      <div class="image"
           ng-show="news[newsIndex].media_url"
           style="background-image: url({{news[newsIndex].media_url}})">
      </div>
    </div>

    <div id="news-container">
      <div class="slider" ng-if="news.length>0">
        <div ng-repeat="news_item in news"
             class="slide slide-animation nonDraggableImage"
             ng-hide="!isCurrentSlideIndex($index)">
          <h4>{{news_item.title}}</h4>
          <p>{{news_item.content}}</p>
          <p class="date">Reported at {{news_item.created_at| date:'h:mma'}}</p>
        </div>
      </div>

    <div class="right-column">
      <!-- Terror -->
      <h3>Terror</h3>
      <div class="progress-legend">{{terror}} / 250</div>
      <div id="terror-container">
        <div id="terror-percentage" ng-style="getTerrorHeight()" ng-class="getTerrorColour()">
          <div></div>
        </div>
        <img src="/assets/thermometer.png">
      </div>
    </div>
  </div>

  <div id="countries-ticker">
    <!-- Countries -->
    <ul>
      <li>
        <div ng-repeat="country in countries" class="country">
          <span>{{country.name}}</span>
          <span>{{country.amount || 0}}</span>
          <i class="glyphicon" ng-class="{'glyphicon-decrease': country.change < 0, 'glyphicon-increase': country.change > 0, 'glyphicon-stagnate': country.change == 0}"></i>
        </div>
      </li>
      <!-- Duplicate because it makes the animation smoother -->
      <li>
        <div ng-repeat="country in countries" class="country">
          <span>{{country.name}}</span>
          <span>{{country.amount}}</span>
          <i class="glyphicon" ng-class="{'glyphicon-decrease': country.change < 0, 'glyphicon-increase': country.change > 0, 'glyphicon-stagnate': country.change == 0}"></i>
        </div>
      </li>
      <!-- Triplicate because it makes the animation smoother -->
      <li>
        <div ng-repeat="country in countries" class="country">
          <span>{{country.name}}</span>
          <span>{{country.amount}}</span>
          <i class="glyphicon" ng-class="{'glyphicon-decrease': country.change < 0, 'glyphicon-increase': country.change > 0, 'glyphicon-stagnate': country.change == 0}"></i>
        </div>
      </li>
    </ul>
  </div>
