<div ng-app='dashboardApp' ng-controller="dashboardCtrl" id="dashboard">


<div id="top-container">
  <!-- Round Information -->
  <div id="round-container">
    <h2>Turn {{round}}</h2>

    <div id="timer">
      <h3 ng-if="!paused">
        <timer countdown="roundDuration" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer>
      </h3>
      <h3 ng-if="paused">(Paused)</h3>
    </div>
  </div>

  <!-- Terror Tracker -->
  <div id="terror-tracker">
    <h3>Global Terror: {{terror}} / 250</h3>
    <div class="terror-border">
      <div class="terror-bar" ng-class="getTerrorColour()" ng-style="getTerrorWidth()"></div>
    </div>
  </div>
</div>

  <!-- Control Messages -->
  <div id="control-messages">
    <p>{{controlMessage}}</p>
  </div>


  <!-- News -->
  <div id="news-block">

    <div id="breaking-block">
      <h3>Breaking News</h3>
      <div class="triangle"></div>
    </div>

    <div id="news-image" ng-class="news[newsIndex].media_landscape == true ? 'landscape' : 'portrait'">
      <div class="image"
           ng-show="news[newsIndex].media_url"
           style="background-image: url({{news[newsIndex].media_url}})">
      </div>
    </div>

    <div id="news-container">
      <div class="slider" ng-if="news.length>0" ng-class="news[newsIndex].media_landscape == true ? 'landscape' : 'portrait'">
        <div ng-repeat="news_item in news"
             class="slide slide-animation nonDraggableImage"
             ng-hide="!isCurrentSlideIndex($index)">
          <h4>{{news_item.title}}</h4>
          <p>{{news_item.content}}</p>
          <p class="news-time">Reported at {{news[newsIndex].created_at| date:'h:mma'}}</p>
        </div>
      </div>
      <div class="" ng-if="news.length==0">
        <h4>Reports are coming in. Stay tuned for more details.</h4>
      </div>
    </div>
  </div>

  <!-- Countries Ticker -->
  <div id="countries-ticker">
    <ul>
      <li>
        <div ng-repeat="country in countries" class="country">
          <span>{{country.name}}</span>
          <span>{{country.amount || 0}}</span>
          <i class="glyphicon" ng-class="{'glyphicon-decrease': country.change < 0, 'glyphicon-increase': country.change > 0, 'glyphicon-stagnate': country.change == 0}"></i>
        </div>
      </li>
      <!-- Duplicate because it makes the animation smoother -->
      <li>
        <div ng-repeat="country in countries" class="country">
          <span>{{country.name}}</span>
          <span>{{country.amount}}</span>
          <i class="glyphicon" ng-class="{'glyphicon-decrease': country.change < 0, 'glyphicon-increase': country.change > 0, 'glyphicon-stagnate': country.change == 0}"></i>
        </div>
      </li>
      <!-- Triplicate because it makes the animation smoother -->
      <li>
        <div ng-repeat="country in countries" class="country">
          <span>{{country.name}}</span>
          <span>{{country.amount}}</span>
          <i class="glyphicon" ng-class="{'glyphicon-decrease': country.change < 0, 'glyphicon-increase': country.change > 0, 'glyphicon-stagnate': country.change == 0}"></i>
        </div>
      </li>
    </ul>
  </div>
