<div ng-app='dashboardApp' ng-controller="DashboardCtrl" id="dashboard">
  <div id="control-messages">
    <p>{{controlMessage}}</p>
  </div>

  <div class="columns">

    <!-- News Column -->
    <div class="left-column">
      <div id="round-container">
        <h2 ng-if="!paused">
          <timer countdown="roundDuration" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer>
        </h2>

        <!-- This needs to be formatted for use -->

        <h3>Turn {{round}}</h3>
        <h3 class="paused" ng-if="paused">(Paused)</h3>
      </div>

      <h3>News:</h3>
      <div class="news-container" ng-show="news.length>0" ng-repeat="news_item in news" ng-class="{ active: $index == 0 }">
        <h4>{{news_item.title}}</h4>
        <img ng-show="{{news_item.media_url.length>0}}" ng-src="{{news_item.media_url}}" />
        <p>{{news_item.content}}</p>
        <p class="date">{{news_item.created_at| date:'h:mma'}}</p>
      </div>

      <div class="news-container active" ng-if="news.length==0">
        <h4>Nothing has happened yet<h4>
      </div>
      <!-- End News -->
    </div>


    <div class="right-column">
      <h3>Terror</h3>
      <div class="progress-legend">{{terror}} / 250</div>
      <div id="terror-container">
        <div id="terror-percentage" ng-style="getTerrorHeight()" ng-class="getTerrorColour()">
          <div></div>
        </div>
        <img src="/assets/thermometer.png">
      </div>
    </div>
  </div>

  <ul id="countries-ticker" class="marquee">
    <li ng-repeat="country in countries">
      <span>{{country.name}}</span>
      <span>{{country.amount}}</span>
      <i class="glyphicon" ng-class="{'glyphicon-chevron-down': country.change <= 0, 'glyphicon-chevron-up': country.change > 0 }"></i>
    </li>
  </ul>
</div>
