<div ng-app='dashboardApp' ng-controller="DashboardCtrl">

  <div class="messages">
    <p>{{controlMessage}}</p>
  </div

  <div class="columns">
    <div class="left-column">
      <img src="/assets/mgs-logo.png" class="mgs-logo">
      <div class="countries-container">
        <h3 class="center">Global Economy</h3>
        <table>
          <thead>
            <tr>
              <td>Country</td>
              <td>GDP</td>
            </tr>
          </thead>
          <tbody>
            <!-- Each Country -->
            <tr ng-repeat="(country, data) in countries">
              <td>{{country}}</td>
              <td>
                <span ng-if="data" class="arrow up"></span>
                <span ng-if="!data" class="arrow down"></span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="terror-container center">
          <h3>Terror</h3>
          {{terror}} / 250
        </div>
      </div>
    </div>

    <div class="centre-column">
      <div class="round-container">
        <h2 class="counter" ng-if="!paused">
          <timer countdown="roundDuration" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer>
        </h2>

        <!-- This needs to be formatted for use -->

        <h3>Round {{round}}</h3>
        <h3 class="paused" ng-if="paused">(Paused)</h3>
      </div>

      <h3>News</h3>
      <div class="news-container" ng-if="news.length>0" ng-repeat="news_item in news">
        <h4>{{news_item.title}}<h4>
          <p>{{news_item.content}}</p>
          <a class="news" href="#">{{news_item.created_at}}</a>
      </div>
      <div class="news-container" ng-if="news.length==0">
        <h4>Nothing has happened yet<h4>
         
      </div>
      <!-- End News -->
    </div>

    <div class="right-column">
      <div class="riot-top"></div>
      <img class="riot-image" src="/assets/riot.png" />

      <div class="rioters-container">
        <h3>Rioters</h3>
        <%= @data["rioters"] %>

        <div class="activity-container">
          <img class="activity-image" src="/assets/activity.png" />
          <h3>Activity</h3>
          {{activity}}
        </div>
      </div>
    </div>
  </div>
</div>