<div class="my-country">
  <img ng-src="assets/flags/{{myCountryName}}.png" />
  <div class="govt">
    <h5>{{myCountryName}}</h5>
    <h4>{{myRoleName}}</h4>
  </div>
  <img ng-src="assets/flags/{{myCountryName}}.png" />
</div>

<div class="turns-container">
    <h4 class="turns">Turn {{round}}</h4>
    <h4><timer countdown="roundDuration" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer> Remaining</h4>
</div>

<div class="terror-container">
    <h4><span>Global</span> Terror</h4>
    <h4>{{terror}} / 250</h4>
</div>
