<div class="income-info">
  <div class="half">
    <h4><span>Country</span> Income</h4>
    Credits: #<br>Income Level: #</div>
  <div class="half">
    <label for="incomeTurn">
      <span class="meta">Income for Turn</span>
      <select id="incomeTurn">
        <!-- Populate with Turns. Default to Current Turn -->
      </select>
    </label>
    Reserves: #<br>Total PR: #</div>
</div>

<div class="pr-modifiers">
  <h4><span>PR</span> Modifiers</h4>

  <div class="income-info">
    <div class="amount header">Amount</div>
    <div class="reason header">Reason</div>
    <div class="amount">+2</div>
    <div class="reason">Positive News</div>
    <div class="amount">-2</div>
    <div class="reason">UN Crisis Not Handled</div>
  </div>
</div>
