<div class="income-info">
  <div class="half">
    <h4><span>Country</span> Income</h4>
    Credits: #<br>Income Level: #</div>
  <div class="half">
    <label for="incomeTurn">
      <span class="meta">Income for Turn</span>
      <select id="incomeTurn" ng-change="updateFilter()" ng-model="selectedRound">
        <option ng-repeat="round in allRounds" value="{{round}}" selected="selectedRound('{{round}}')">{{round}}</option>
      </select>
    </label>
    Reserves: #<br>Total PR: #</div>
</div>

<div class="pr-modifiers">
  <h4><span>PR</span> Modifiers</h4>

  <table>
    <thead>
      <tr>
        <td class="amount header">Amount</td>
        <td class="reason header">Reason</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="relations in filtered_pr track by $index">
        <td class="amount">{{relations.pr_amount}}</td>
        <td class="reason">{{relations.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
