<h4><span>Country</span> Income</h4>
<p class="description">This is the income that you'll have available to spend in Round {{round + 1}}.</p>
<div class="income-info">
  <div class="half">
    Credits: {{incomeValue}}<br>
    Income Level: {{incomeLevel}}
  </div>
  <div class="half">
    Reserves: {{reserves}}<br>
    Total PR: {{totalPr}}
  </div>
</div>
<br>
<h4><span>PR</span> Modifiers</h4>
<p class="description">This is what happened in Round {{round - 1}} that affected your income for this round.</p>
<div class="pr-modifiers">
  <table>
    <thead>
      <tr>
        <td class="amount header">Amount</td>
        <td class="source header">Source</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="relations in pr track by $index">
        <td class="amount">{{relations.pr_amount}}</td>
        <td class="source">{{relations.source}}</td>
      </tr>
    </tbody>
  </table>
</div>
