<%= render(:partial => "messages/messages_sidebar") %>

<div class="messages-focused" ng-class="{'focused': selectedMessage !== null}">
  <div ng-if="selectedMessage === null" class="message-content">No conversation selected</div>
  <div ng-if="selectedMessage !== null">
    <div class="button back-button" ng-click="resetMessages()">Back to Messages</div>
    <div ng-if="selectedMessage !== 'new'">
      <div ng-repeat="message in selectedMessage.messages | orderBy: '+created_at'" class="message-content">
        <%= render(:partial => "/messages/message_content") %>
      </div>
      <div class="message-content">
        <%= render(:partial => "/messages/new_message") %>
      </div>
    </div>
    <div ng-if="selectedMessage === 'new'" class="message-content">
      <%= render(:partial => "/messages/new_message") %>
    </div>
  </div>
</div>
