/* =====================================
                VARIABLES
   ===================================== */
$background: #03141c; //#ffffe9;
$background-darktan: #091f2a;
$text: #3d5b63;

$background-blue: #94b3c4;
$background-seafoam: #d3e3d8;
$background-green: #dbe8db;

$border-tan: #BEC2AD;

$dark: #333333;
$green: #399499;
$red: #9f0d33;
$light-red: #FA3E3B;

$bright-green: #4bb9ba;


/* =====================================
         ADMIN CP SPECIFIC OVERRIDES
   ===================================== */

#admin {
  padding: 30px;

  h1 {
    margin-bottom: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  section {
    background-color: $background-darktan;
    padding: 0px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid $green;
  }

  ul li {
    margin-bottom: 20px;
  }
}


/* =====================================
             BOTTOM NAVIGATION
   ===================================== */

nav {
  background: $background-seafoam;
  bottom: 0px;
  position: fixed;
  width: 100%;

  ul {
    padding: 0 20px;
  }

  li {
    border-right: 1px solid $border-tan;
    display: inline-block;
    float: left;
  }

  li:last-child {
    border-right: 0px;
  }

  a {
    font-size: 2.0rem;
    line-height: 2.8rem;
    padding: 5px 8px;
  }
}
