/* =====================================
                VARIABLES
   ===================================== */

$background-seafoam: #d3e3d8;
$background-darktan: #f0f5db;
$border-tan: #BEC2AD;


/* =====================================
         ADMIN CP SPECIFIC OVERRIDES
   ===================================== */

#admin {
  padding: 30px 30px 90px 30px;

  h1 {
    margin-bottom: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  h4 {
    margin-bottom: 15px;
  }

  section {
    background-color: $background-darktan;
    padding: 20px;
    margin-bottom: 20px;
  }

  ul li {
    margin-bottom: 20px;
  }
}

  /* =====================================
               BOTTOM NAVIGATION
     ===================================== */

#admin-nav {
  background: $background-seafoam;
  bottom: 0px;
  position: fixed;
  width: 100%;

  ul {
    padding: 0 20px;
  }

  li {
    border-right: 1px solid $border-tan;
    display: inline-block;
    float: left;
  }

  li:last-child {
    border-right: 0px;
  }

  a {
    font-size: 2.0rem;
    line-height: 2.8rem;
    padding: 5px 8px;
  }
}


/* =====================================
               TEAM CONTROLS
   ===================================== */

.list-of-countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: flex-start;
  line-height: 20px;
  text-align: center;
  width: 100%;
}

.list-of-countries div {
  flex: 0 0 125px;
  margin: 5px 10px;
}
