/* =====================================
                VARIABLES
   ===================================== */

$background-blue: #94b3c4;

$black: #000000;
$white: #FFFFFF;
$terror-light-green: #6CC644;
$terror-dark-green: #44A662;
$terror-yellow: #D5D506;
$terror-orange: #CB8F06;
$terror-red: #BD2C00;

/* =====================================
                MIXINS
   ===================================== */

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin topBottomGradient($color1, $color2, $color3) {
  background: $color1;
  background: -moz-linear-gradient(top,    $color1 0%, $color2 50%, $color3 100%);
  background: -webkit-linear-gradient(top, $color1 0%, $color2 50%, $color3 100%);
  background: linear-gradient(to bottom,   $color1 0%, $color2 50%, $color3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color3,GradientType=0 );
}


/* =====================================
           SIZING FOR PROJECTOR
   ===================================== */

.dashboard {
  background-color: #382b08;
  background-image: url('/assets/empire.jpeg');
  background-position: top center;
  background-repeat: repeat-x;
  background-size: contain;
  font-size: 5rem;
  line-height: 5.8rem;
  padding-bottom: 0px;
  padding-top: 20px;

  h3 {
    font-size: 6rem;
    line-height: 6.8rem;
  }

  h4 {
    font-size: 5.2rem;
    line-height: 6rem;
  }
}

/* =====================================
             TOP MESSAGES AREA
   ===================================== */

#top-container {
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  height: 130px;
  margin: 0 20px;
}

#round-container {
  @include topBottomGradient(#1e5799, #2989d8, #7db9e8);
  display: inline-block;
  height: 130px;
  float: left;
  text-align: center;
  width: 320px;

  #timer {
    @include topBottomGradient(#e2e2e2, #dbdbdb, #fefefe);
    height: 80px;
    margin: 0;
    padding-top: 5px;
  }

  h2 {
    color: $white;
  }

  h3 {
    color: $terror-red;
  }
}


/* =====================================
              TERROR TRACKER
   ===================================== */

#terror-tracker {
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  height: 130px;
  width: Calc(100% - 320px);

  h3 {
    color: $black;
    margin-bottom: 10px;
    text-align: center;
  }
}

.terror-bar {
  height: 30px;
  margin: 0 auto;

  &.none { background-color: $white;              }
  &.low  { background-color: $terror-light-green; }
  &.med  { background-color: $terror-dark-green;  }
  &.high { background-color: $terror-yellow;      }
  &.crit { background-color: $terror-orange;      }
  &.doom { background-color: $terror-red;         }
}


/* =====================================
              CONTROL MESSAGES
   ===================================== */

#control-messages {
  display: block;
  margin: 20px;
  vertical-align: top;

  p {
    font-size: 5.8rem;
    line-height: 6.6rem;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
  }
}


/* =====================================
                COUNTRIES
   ===================================== */

@include keyframes(loop) {
  0%   { @include transform( translateX(0) ); }
  100% { @include transform( translateX(-(33.3% * 2))); }
}

#countries-ticker {
  background: #000;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;

  ul {
    height: 70px;
    left: 0;
    list-style: none;
    position: relative;
    top: 0;
    width: 350%!important;
    z-index: 1;
    @include animation(loop 60s linear infinite);
  }

  li {
    float: left;
    height: 70px;
    overflow: hidden;
    width: 33.333%;
  }

  .country {
    color: #FFF;
    display: inline-block;
    font-size: 6rem;
    margin: 0px 30px;
  }

  .glyphicon {
    font-size: 6rem;
    top: 7px;
  }

  .glyphicon-decrease { color: $terror-red;         }
  .glyphicon-increase { color: $terror-light-green; }
  .glyphicon-stagnate { color: $terror-yellow;      }
}


/* =====================================
                  NEWS
   ===================================== */

#news-block {
  @include topBottomGradient(rgba(30, 88, 153, 0.7), rgba(150, 200, 255, 0.7), rgba(150, 200, 255, 0.7));
  bottom: 70px;
  box-shadow: 3px -3px 15px -5px rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
}

#breaking-block {
  height: 70px;

  h3 {
    background: $terror-red;
    color: $white;
    display: inline-block;
    float: left;
    font-weight: bold;
    padding: 0 10px;
    width: 605px;
  }

  .triangle {
    border-style: solid;
    border-width: 68px 90px 0 0;
    border-color: $terror-red transparent transparent transparent;
    display: inline-block;
    float: left;
    height: 0;
    width: 0;
  }

  .news-time {
    display: inline-block;
    float: left;
    font-size: 5.2rem;
    font-style: italic;
    margin-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 700px);
  }
}


#news-container {
  min-height: 175px;
  padding: 10px;

  h4 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    font-weight: bold;
  }

  img {
    display: block;
    max-height: 250px;
    width: 80%;
  }

  p {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin: 5px auto
  }

  a {
    color: $terror-light-green;
    display: inline-block;
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .slider {
    height: 175px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 380px);
  }

  .slide {
    left: 0;
    position: absolute;
    top: 0;
  }
}

#news-image {
  background: $black;
  border: 20px solid #1e5799;
  bottom: 0px;
  height: 380px;
  position: absolute;
  right: 0px;
  width: 380px;

  box-shadow: -3px -3px 15px -5px rgba(0,0,0,0.75);

  .placeholder {
    background-color: $black;
    background-repeat: no-repeat;
    background-size: contain;
    height: 340px;
    width: 340px;
  }

  .image {
    background-color: $black;
    background-repeat: no-repeat;
    background-size: contain;
    height: 340px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 340px;
  }
}



