/* =====================================
                VARIABLES
   ===================================== */
$background: #ffffe9;
$background-blue: #94b3c4;
$background-seafoam: #d3e3d8;
$background-darktan: #f0f5db;
$background-green: #dbe8db;

$green: #399499;
$red: #9f0d33;
$light-red: #FA3E3B;

/* =====================================
                MIXINS
   ===================================== */

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  transform: $args;
}


/* =====================================
           SIZING FOR PROJECTOR
   ===================================== */

#dashboard {
  font-size: 3rem;
  line-height: 3.8rem;

  h3 {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  h4 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}





/* =====================================
                GENERAL
   ===================================== */

#control-messages {
  background: $background-blue;
  color: white;

  p {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px;
    text-transform: uppercase;
  }
}


/* =====================================
                COLUMNS
   ===================================== */

.columns {
  display: table;
  position: relative;
  width: 100%;
}

.left-column {
  display: table-cell;
  padding: 0px 50px;
  vertical-align: top;

  #round-container {
    text-align: center;

    h3.paused {
      color: $red;
    }
  }
}

.right-column {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 250px;
}

.column {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  width: calc(100% / 3);

  img {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0px;
  }

  li:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    display: block;
    height: 4px;
    margin: 0 auto;
    width: 100px;
  }

  li:last-child:after {
    border-bottom: 0;
  }
}


/* =====================================
                COUNTRIES
   ===================================== */

@include keyframes(loop) {
  0%   { @include transform( translateX(0) ); }
  100% { @include transform( translateX(-(33.3% * 2))); }
}

#countries-ticker {
  background: #000;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;

  ul {
    height: 50px;
    left: 0;
    list-style: none;
    position: relative;
    top: 0;
    width: 300%!important;
    z-index: 1;
    @include animation(loop 60s linear infinite);
  }

  li {
    float: left;
    height: 50px;
    overflow: hidden;
    width: 33.333%;
  }

  .country {
    color: #FFF;
    display: inline-block;
    font-size: 4rem;
    margin: 7px 1.6%;
  }

  .glyphicon {
    font-size: 3.4rem;
  }

  .glyphicon-chevron-down {
    color: $red;
  }

  .glyphicon-chevron-up {
    color: #6CC644;
  }
}

/* =====================================
              TERROR TRACKER
   ===================================== */

#terror-container {
  background-color: #FFF;
  display: inline-block;
  height: 500px;
  margin: 10px auto;
  position: relative;
  width: 167px;

  img {
    position: relative;
  }
}

#terror-percentage {
  bottom: 30px;
  display: block;
  margin-top: 30px;
  position: absolute;
  width: calc(100% - 2px);

  div {
   height: 30px;
   margin: 0 auto;
   margin-top: -30px;
   width: 150px;
  }

  &.rounded {
    div {
      border-radius: 90px 90px 0 0;
      display: block;
      width: 35px;
    }
  }

  &.none, &.none div { background-color: #FFFFFF; }
  &.low,  &.low div  { background-color: #6CC644; }
  &.med,  &.med div  { background-color: #44A662; }
  &.high, &.high div { background-color: #D5D506; }
  &.crit, &.crit div { background-color: #CB8F06; }
  &.doom, &.doom div { background-color: #BD2C00; }
}


/* =====================================
                  NEWS
   ===================================== */

.news-item {
  display: none;

  &:first-child {
    display: block;
  }

  h4 {
    font-weight: bold;
  }

  .date {
    font-size: 2.4rem;
    font-style: italic;
    line-height: 3.2rem;
  }

  img {
    display: block;
    max-height: 250px;
    width: 80%;
  }

  p {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 5px auto
  }

  a {
    color: $green;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
