/* =====================================
                VARIABLES
   ===================================== */
$background: #ffffe9;
$background-blue: #94b3c4;
$background-seafoam: #d3e3d8;
$background-darktan: #f0f5db;
$background-green: #dbe8db;

$green: #399499;
$red: #9f0d33;
$light-red: #FA3E3B;


/* =====================================
                GENERAL
   ===================================== */

#control-messages {
  background: $background-blue;
  color: white;

  p {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px;
    text-transform: uppercase;
  }
}


/* =====================================
                COLUMNS
   ===================================== */

.columns {
  display: table;
  position: relative;
  width: 100%;
}

.left-column {
  display: table-cell;
  padding-right: 30px;
  vertical-align: top;
  width: 25%;

  #mgs-logo {
    display: block;
    margin: 30px auto 50px;
  }

  .twitter {
    font-size: 1.2rem;
    line-height: 2.0rem;
    margin-top: -18px;
    margin-left: 20px;
  }
}

.centre-column {
  display: table-cell;
  padding-right: 30px;
  vertical-align: top;
  width: 50%;

  #round-container {
    text-align: center;

    h3.paused {
      color: $red;
    }
  }
}

.right-column {
  background-color: $background-seafoam;
  display: table-cell;
  vertical-align: top;
  width: 25%;
}

.column {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  width: calc(100% / 3);

  img {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0px;
  }
}




/* =====================================
                COUNTRIES
   ===================================== */

#countries-container {
  background: $background-darktan;
  padding: 20px;

  tr {
    border-bottom: 0;
  }

  td {
    padding: 5px;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  .arrow {
    background: url('/assets/arrows.png') 0px 0px no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;

    &.up   { background-position: 5px   7px; }
    &.down { background-position: 5px -17px; }
  }
}


/* =====================================
              TERROR TRACKER
   ===================================== */

#terror-container {
  background: $background-green;
  margin: 40px -40px -20px 80px;
  padding: 20px 20px 50px 20px;
  text-align: center;
}

.progress-wrapper {
  margin: 20px auto;
  position: relative;

  .progress-legend {
    color: $red;
    font-size: 3.0rem;
    line-height: 3.8rem;
    position: absolute;
    top: Calc(50% - 30px);
    width: 100%;
    z-index: 10;
  }
}

/* =====================================
                  NEWS
   ===================================== */

.news-container {
  display: none;
  margin-bottom: 40px;

  &.active {
    display: block;
  }

  .date {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.4rem;
  }

  img {
    display: block;
    max-height: 300px;
    width: 100%;
  }

  a {
    color: $green;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/* =====================================
                  RIOTS
   ===================================== */

#riot-top {
  background-color: $background;
  height: 175px;
  width: 100%;
}

#riot-image,
#activity-image {
  display: block;
  margin: 0 auto;
}

#riot-image {
  margin-top: -150px;
}

#activity-container {
  margin-top: 50px;
  p {
    margin-top: 5px;
  }
}

#rioters-container {
  padding: 20px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;

  #rioters-count {
    margin: 20px auto;
    text-align: left;
    width: 75%;

    img {
      margin: 3px 0px;
    }
  }
}
