$darkblue: #003D6F;
$headblue: #1077C3;

.mobile_dashboard {
  color: #000;
  display: block;
  margin: 0 auto;
  padding: 0;
  max-height: 999999px; // Overcome Mobile Chrome Font Boosting.
  width: 100%;

  // BASE
  h4 {
    color: #000;
    margin: 10px 0;

    span {
      color: $headblue;
    }
  }

  /* =====================================
                HEADER
  ===================================== */
  .country-header {
    background: #FFF;
    border-bottom: 1px solid $darkblue;
    margin: 0;
    margin-bottom: 50px;
  }

  .country-items {
    display: flex;
  }

  .country-messages {
    padding: 10px;
  }


  .my-country {
    display: flex;
    justify-content: center;

    .govt {
      font-weight: bold;
      margin-top: 20px;
      text-align: center;

      h4 {
        color: $headblue;
        font-weight: bold;
        margin-top: 5px;
      }
    }

    .role img,
    .flag img {
      margin: 10px 20px;
      width: 100px;
    }
  }

  .terror-container,
  .turns-container {
    flex: 1;
    text-align: center;
  }

  /* =====================================
                TABS
  ===================================== */
  .tabs {
    margin: 0 auto;
    width: 80%;
  }

  .tab-selection {
    display: flex;
  }

  .tab-choice {
    background: $darkblue;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;

    &.focused {
      background: #FFF;
      border: 1px solid $darkblue;
      border-bottom: 1px solid #FFF;
      color: #000;
      margin-bottom: -1px;
    }
  }

  .tab {
    background: #FFF;
    border: 1px solid $darkblue;
    padding: 20px;
  }
}


/* =====================================
            TAB - INCOME
===================================== */
.tab.income {
  .pr-modifiers {
    margin-top: 20px;
    width: 100%;
  }

  .income-info {
    display: flex;
    flex-wrap: wrap;

    label {
      display: block;
      margin-bottom: 8px;
    }

    .amount {
      flex: 0 0 90px;
    }

    .reason {
      flex: 0 0 calc(100% - 100px);
    }

    .half {
      flex: 1 0 50%;
    }

    .header {
      font-weight: bold;
    }
  }
}

/* =====================================
            TAB - NEWS
===================================== */
.tab.news {
  h4 {
    margin: 0;
  }

  .news-time {
    font-style: italic;
    margin: 0;
    padding: 0;
  }
}


/* =====================================
            MOBILE - PORTRAIT
===================================== */
@media only screen and (orientation: portrait) {
  .mobile_dashboard {
    font-size: 1.8rem;

    .country-header h4 {
      font-size: 2.0rem;
      line-height: 2.6rem;
      margin-bottom: 0;
    }

    .my-country {
      .govt h4 {
        margin-top: 0;
      }

      .role,
      .flag {
        img {
          margin: 20px 10px;
          width: 50px;
        }
      }
    }

    .my-country .govt h4 {
      margin: 0;
    }

    .country-messages {
      padding-top: 0;
    }

    .tab-choice {
      font-size: 2.0rem;
    }


  }
}

/* =====================================
            MOBILE - LANDSCAPE
===================================== */
@media only screen and (orientation: landscape) {

}
