.mobile {
  background: #000;
  // background-image: url('/assets/empire-mobile.jpg');
  background-image: url("/assets/World.png");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  display: flex;
  font-size: 1.5rem;
  line-height: 1.6;
  min-height: 100%;
  padding: 0;

  p, ul {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  label {
    margin-top: 0px;
  }

  textarea {
    min-height: 85px;
  }

  .page-title {
    background: #FFF;
    margin-bottom: 30px;
    padding-left: 60px;
    padding-bottom: 10px;
    text-align: center;
  }

  .page-content {
    color: #444;
    flex: 1;
    padding: 0;
    transition: all .3s;
  }

  .button {
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
    border-radius: 5px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    height: auto;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.2rem;
    margin: 10px 0;
    padding: 10px;
    position: relative;
  }
}
