@mixin role-colors($color, $background) {
  background-image: url('/assets/mobile-backgrounds/world-#{$background}.png');
  .button { background: $color; }
  .country-header { border-bottom: 1px solid $color; }
  .tab-choice { background: $color; }
  .tab-choice.focused { border: 1px solid $color; }
  .tab { border: 1px solid $color; }
  .tab.news .news-time { background: $color; }
  .messages-sidebar li.active { border-left: 6px solid $color; }
  .govt h4 { color: $color; }
  h4 span { color: $color; }
}

.role-head        { @include role-colors(#0C7C33, "green");  }
.role-deputy      { @include role-colors(#C2B729, "yellow"); }
.role-scientist   { @include role-colors(#003D6F, "blue");   }
.role-military    { @include role-colors(#7C100C, "red");    }
.role-ambassador  { @include role-colors(#541B89, "purple"); }
.role-media       { @include role-colors(#C87E09, "orange"); }
.role-aliens      { @include role-colors(#541B89, "purple"); }

.button {
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.2rem;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

.mobile {
  background: #000;
  display: flex;
  font-size: 1.5rem;
  line-height: 1.6;
  min-height: 100%;
  padding: 0;

  p, ul {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  label {
    margin-top: 0px;
  }

  textarea {
    min-height: 85px;
  }

  .page-title {
    background: #FFF;
    margin-bottom: 30px;
    padding-left: 60px;
    padding-bottom: 10px;
    text-align: center;
  }

  .page-content {
    color: #444;
    flex: 1;
    padding: 0;
    transition: all .3s;
  }
}

.mobile_dashboard {
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000;
  display: block;
  margin: 0 auto;
  padding: 0;
  max-height: 999999px; // Overcome Mobile Chrome Font Boosting.
  width: 100%;

  // BASE
  h4 {
    color: #000;
    margin: 10px 0;
  }

  /* =====================================
                HEADER
  ===================================== */
  .country-header {
    background: #FFF;
    margin: 0;
    margin-bottom: 50px;
  }

  .country-items {
    display: flex;
  }

  .country-messages {
    padding: 10px;
  }


  .my-country {
    display: flex;
    justify-content: center;

    .govt {
      font-weight: bold;
      margin-top: 20px;
      text-align: center;

      h4 {
        font-weight: bold;
        margin-top: 5px;
      }
    }

    .role img,
    .flag img {
      margin: 10px 20px;
      width: 100px;
    }
  }

  .terror-container,
  .turns-container {
    flex: 1;
    text-align: center;
  }

  /* =====================================
                TABS
  ===================================== */
  .tabs {
    margin: 0 auto;
    width: 80%;
  }

  .tab-selection {
    display: flex;
  }

  .tab-choice {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;

    &.focused {
      background: #FFF;
      border-bottom: 1px solid #FFF;
      color: #000;
      margin-bottom: -1px;
    }
  }

  .tab {
    background: #FFF;
    padding: 20px;
  }
}


/* =====================================
            TAB - INCOME
===================================== */
.tab.income {
  .pr-modifiers {
    margin-top: 20px;
    width: 100%;
  }

  .income-info {
    display: flex;
    flex-wrap: wrap;

    label {
      display: block;
      margin-bottom: 8px;
    }

    .amount {
      flex: 0 0 90px;
    }

    .reason {
      flex: 0 0 calc(100% - 100px);
    }

    .half {
      flex: 1 0 50%;
    }

    .header {
      font-weight: bold;
    }
  }
}

/* =====================================
            TAB - NEWS
===================================== */
.tab.news {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;

  h4 {
    font-size: 2.0rem;
    line-height: 2.6rem;
    margin: 0;
  }

  .news-time {
    bottom: 10px;
    color: #FFF;
    font-style: italic;
    left: 0px;
    margin: 0;
    padding: 2px 5px 2px 10px;
    position: absolute;
  }

  .news-item {
    background: #EFEFEF;
    flex-basis: auto;
    flex-grow: 1;
    margin: 10px;
    max-width: 300px;
    min-width: 100px;

    .image {
      position: relative;
    }

    .news-content {
      padding: 10px;
    }

    .news-image {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
    }

    &.landscape {
      .news-image {
        background-position: center center;
        height: 200px;
      }
    }

    &.portrait {
      .news-image {
        background-position: top center;
        height: 400px;
      }
    }
  }
}

/* =====================================
            MOBILE - PORTRAIT
===================================== */
@media only screen and (orientation: portrait) {
  .mobile_dashboard {
    font-size: 1.8rem;

    .country-header h4 {
      font-size: 2.0rem;
      line-height: 2.6rem;
      margin-bottom: 0;
    }

    .my-country {
      .govt h4 {
        margin-top: 0;
      }

      .role,
      .flag {
        img {
          margin: 20px 10px;
          width: 50px;
        }
      }
    }

    .my-country .govt h4 {
      margin: 0;
    }

    .country-messages {
      padding-top: 0;
    }

    .tab-choice {
      font-size: 2.0rem;
    }
  }

  .tab.news {
    .news-item {
      max-width: 250px;
      min-width: 150px;
    }
  }
}

/* =====================================
            MOBILE - LANDSCAPE
===================================== */
@media only screen and (orientation: landscape) {

}
