$darkblue: #003D6F;
$headblue: #1077C3;



.mobile_dashboard {
  color: #000;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  // BASE
  h4 {
    color: #000;
    margin: 10px 0;

    span {
      color: $headblue;
    }
  }

  /* =====================================
                HEADER
  ===================================== */
  .country-header {
    background: #FFF;
    border-bottom: 1px solid $darkblue;
    margin: 0;
    margin-bottom: 50px;
  }

  .country-items {
    display: flex;
  }

  .country-messages {
    padding: 10px;
  }


  .my-country {
    display: flex;
    flex: 0 0 500px;
    justify-content: center;

    .role,
    .flag {
      flex: 0 0 110px;
    }

    .govt {
      flex: 0 0 250px;
      font-weight: bold;
      margin-top: 15px;
      text-align: center;

      h4 {
        color: $headblue;
        font-weight: bold;
        margin-top: 5px;
      }
    }

    .role img,
    .flag img {
      width: 100px;
    }
  }

  .terror-container,
  .turns-container {
    flex: 1;
    text-align: center;
  }

  /* =====================================
                TABS
  ===================================== */
  .tabs {
    margin: 0 auto;
    width: 80%;
  }

  .tab-selection {
    padding: 0 10px;
  }

  .tab-choice {
    background: $darkblue;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;

    &.focused {
      background: #FFF;
      border: 1px solid $darkblue;
      border-bottom: 1px solid #FFF;
      color: #000;
      margin-bottom: -1px;
    }
  }

  .tab {
    background: #FFF;
    border: 1px solid $darkblue;
    padding: 10px;
  }
}


/* =====================================
            TAB - INCOME
===================================== */
.tab.income {
  .pr-modifiers {
    margin-top: 20px;
    width: 100%;
  }

  .income-info {
    display: flex;
    flex-wrap: wrap;

    label {
      display: block;
      margin-bottom: 8px;
    }

    .amount {
      flex: 0 0 90px;
    }

    .reason {
      flex: 0 0 calc(100% - 100px);
    }

    .half {
      flex: 1 0 50%;
    }

    .header {
      font-weight: bold;
    }
  }
}

/* =====================================
            TAB - NEWS
===================================== */
.tab.news {
  h4 {
    margin: 0;
  }

  .news-time {
    font-style: italic;
    margin: 0;
    padding: 0;
  }
}
