// Place all the styles related to the NewsMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: black;
}

.DEN{
  font-family: "Comic Sans MS";
  color: black;
  font-size:16px;
}

.GNN{
  font-family: "Arial";
  color: black;
  font-size:16px;
}

.SFT{
  font-family: "Times New Roman";
  color: black; 
  font-size:16px;
}