@media print {

  @page {size: landscape}

  @import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900,400italic|Droid+Serif);

  html, body {
    background-color: #fff;
  }

  nav {
    display: none;
  }

  #admin {
    background-color: #fff;
    color: #2f2f2f;
    font-family: 'Droid Serif', serif;
    padding: 15px;

    section {
      background-color: #FFF;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    h1 {
      color: #2f2f2f;
      font-family: 'Playfair Display SC', serif;
      font-size: 3.2rem;
      line-height: 3.8rem;
      margin: 0 0 10px 0;
      padding: 0;
      text-align: center;
    }

    h3 {
      border-bottom: 2px solid #2f2f2f;
      border-top: 2px solid #2f2f2f;
      color: #2f2f2f;
      display: block;
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin: 0;
      padding: 12px 0;
      text-align: center;
    }

    h4 {
      font-family: 'Playfair Display SC', serif;
      font-style: italic;
      text-align: center;
    }

    .column + .column {
      border-left: 1px solid #2f2f2f;
    }

    .column {
      padding: 0 20px;

      .banner {
        width: 75%;
      }
    }
  }

}
