<div class="well-sml panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">PR by Country</div>
  </div>
  <div class="panel-body">
   <div class="btn-group" role="group">
      <% @countries.each do |country|%>
      <%= link_to country, country_pr_status_path(country), class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>