<div class="title">
  <h3><%= title %></h3>
  <div class="title-left"></div>
  <div class="title-right"></div>
</div>

<div class="top-left-corner">
  <div class="right-arrow"></div>
  <div class="left-arrow"></div>
</div>

<div class="top-right-corner"></div>
<div class="bottom-left-corner"></div>

<div class="bottom-right-corner">
  <div class="right-arrow"></div>
  <div class="left-arrow"></div>
</div>
