<!DOCTYPE html>
<html>
  <head>
    <title>Watch the Skies</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>

    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>

  <body class="logged_out">
    <%= yield %>
  </body>
</html>
